@font-face {
    font-family: "Bebas Neue";
    src: url('./BebasNeue-Regular.ttf');
}

body {
    background-color: #eff9f9;
}

h1, h2, h3 {
    font-family: "Bebas Neue";
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
    margin-bottom: 0px;
}

a {
    color: unset;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

#content {
    max-width: 800px;
    margin: auto;
}

.tileContent {
    background-color: rgba(0, 0, 0, .75);
    color: white;
    padding: 5px;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    height: 300px;
    background-size: cover;
    filter: grayscale(100%);
    transition: filter .25s linear;
}

.tile:hover {
    filter: grayscale(0%);
}